<html>
<head>
    <style>[x-cloak]{display:none}</style>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/vis-network@9.1.9/dist/vis-network.min.js"></script>
    <script src="https://unpkg.com/vis-data@7.1.9/dist/umd.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title>Madeira - O melhor Simplex do mundo</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

</style>
</head>
<body class="bg-orange-200 h-full">


<nav class="border-gray-200 bg-gradient-to-b from-orange-300 to-orange-200 ">
  <div class="w-3/4 flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/static/logo.png" class="h-16" alt="" />

    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 ">
        <li>
          <a href="#" class="block py-2 px-3 text-orange-900 border-transparent border-b-2 transition-all duration-500 hover:border-orange-500 italic hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-700 md:p-0" aria-current="page">Inicio</a>
        </li>
        <li>
          <a href="/simplex" class="block py-2 px-3 text-orange-900 border-transparent border-b-2 transition-all duration-500 hover:border-orange-500 italic hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-700 md:p-0">Simplex</a>
        </li>
        <li>
          <a href="/branch_and_bound" class="block py-2 px-3 text-orange-900 border-transparent border-b-2 transition-all duration-500 hover:border-orange-500 italic hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-700 md:p-0">Branch and bound</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container max-w-screen-xl mx-auto flex flex-col items-center justify-center align-middle">
    <div class="shadow w-full">
    {% block content %}{% endblock %}
    </div>
    </div>
</body>