{% extends 'base.html' %}

{% block content %}
<form action="/entrada_dados" method="post">
    <input type="hidden" name="metodo" value="solver.metodo">
    <input type="hidden" name="num_variaveis" value="{{solver.problema.variaveis|length}}">
    <input type="hidden" name="num_restricoes" value="{{solver.problema.restricoes|length}}">
    <div>Modo de otimização: </div>
    <select id="modo" name="modo">
        <option value="1">Minimizar</option>
        <option value="2">Maximizar</option>
    </select>
    <br>
    <div>Função objetivo: </div>
    {% for variavel in solver.problema.variaveis %}
        {% if loop.last %}
            <input type="number" id="objetivo{{variavel.nome}}" name="objetivo{{variavel.nome}}" value="0">{{variavel.nome}}
        {% else %}
            <input type="number" id="objetivo{{variavel.nome}}" name="objetivo{{variavel.nome}}" value="0">{{variavel.nome}} +
        {% endif %}
    {% endfor %}
    <br>
    <div>Restrições: </div>
    {% for restricao in solver.problema.restricoes  %}
        {% for variavel in solver.problema.variaveis %}
            {% if loop.last %}
                <input type="number" id="restricao{{restricao}}-{{variavel.nome}}" name="restricao{{restricao}}-{{variavel.nome}}" value="0">{{variavel.nome}}
            {% else %}
                <input type="number" id="restricao{{restricao}}-{{variavel.nome}}" name="restricao{{restricao}}-{{variavel.nome}}" value="0">{{variavel.nome}} +
            {% endif %}
        {% endfor %}
        <select id="operador{{restricao}}" name="operador{{restricao}}">
            <option value="1">≤</option>
            <option value="2">≥</option>
            <option value="3">=</option>
        </select>
        <input type="number" id="resultado{{restricao}}" value="0" name="resultado{{restricao}}">
        <br>
    {% endfor %}
    <button type="submit">Enviar</button>
</form>
{% endblock %}