{% if solution %}
<div id="solucao" class="bg-orange-100" >
    <div class="p-4">
        
        <h2 class="text-2xl p-2 font-bold">Solução</h2>
        <p class="text-2xl p-2 text-green-500 font-bold">Z = {{ solution['solucao']['solucao'] }}</p>
        <p class="text-lg p-2 font-semibold">Solução Ótima {{'inteira' if solution['solucao_inteira'] else ''}}.

            {% if not solution['solucao_inteira'] %}
                <br>
                <button class="p-2 text-xs border rounded-xl" hx-swap="outerHTML" hx-indicator="true">Branch-and-bound ></button>
            {% endif %}
        </p>
        
        <div class="inline-flex">
            <div>
            <p class="text-lg p-2 font-semibold">Variaveis básicas:</p>
            <ul class="p-4">
                {% for key, value in solution['solucao'].items() %}
                    {% if key != 'solucao' %}
                        <li class="text-xs">{{ key }} = {{ value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            </div>
        </div>
        <p class="text-lg font-semibold">Iteracoes:</p>
        <ul>
            {% for iteracao in solution['iteracoes'] %}
                <li>
                    <p class="font-bold p-4">Iteracao {{ iteracao['iteracao'] }}</p>
                    {% if iteracao['operacoes'] %}
                    <div class="inline-flex">
                    {% for linha in iteracao['operacoes'] %}
                        <div class="p-4">
                        {% for op in linha %}
                            {% if op[0] == 'W'%}
                                <p class="p-2 font-semibold text-sm">2a Fase</p>
                            {% endif %}
                            <p class="p-2 text-xs {{ 'font-semibold' if loop.index0 == 0 or op[0] == 'Z' else '' }}">{{ op }}</p>
                        {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <table class="table-auto w-full mx-auto justify-center">
                        <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th class=" w-32 p-2 border border-gray-300 text-sm rounded-md">Base</th>
                                {% for j in iteracao['header_vars'] %}
                                    <th class=" w-32 p-2 border border-gray-300 text-sm rounded-md ">
                                        {{ j }}
                                    </th>
                                {% endfor %}
                                <th class=" w-32 p-2 border border-gray-300 text-sm rounded-md">b</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for line in iteracao['table'] %}
                                <tr class="bg-orange-50 border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 {{ 'bg-green-100' if loop.index0 == iteracao['pivot_line_index'] else '' }}">
                                    <td class="p-2 border border-gray-300 text-sm rounded-md">{{ iteracao['basic_vars'][loop.index0-1] if loop.index0 != 0 else 'Z' }}</td>
                                    {% for value in line %}
                                        <td class="p-2 border border-gray-300 text-sm rounded-md {{ 'bg-green-100' if loop.index0 == iteracao['pivot_column_index'] else '' }}">
                                           <span class="text-xs"
                                           >{{ value | round(2) }}</span>
                                            
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
